.sensor{
	position: absolute;
	width: 10px;
	height: 10px;
	right: -15px;
	background: green;
	border-radius: 6px;
	border: 1px solid rgb(0,64,128);
}

.display{
	position: absolute;
	width: 50px;
	height: 15px;
	bottom: -20px;
	border: 1px solid black;
	text-align: center;
	font: 13px verdana;
}